body{
  background-color: #eee;
}
.topbar{
  background-color: #808080;
  border-left: 25px #696969 solid;
  border-right: 25px #696969 solid;
  padding: 2px;
  color: #dcdcdc;
  text-align: center;
  font-family: times;
}
.container{
  margin: 80px;
  color: inherit;
}
form{
  border-style: outset;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: #eee;
}
.form-button{
  padding: 0px 10px;
  color: #fff;
  display: inline-block;
  background-color: #428bca;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.form-button[disabled]{
  background-color: #f0b7c4;
}
.md-toolbar-tools{
  background-color: #262626;
  position: fixed;
}
.md-sidenav-left{
  margin-top: 64px;
  position: fixed;
}
#sidenav-menu{
  background-color: #ff3333;
  font-style: oblique;
}
.mobile-card{
  padding: 6px;
}
#buy-button{
  background-color: rgb(120, 150, 150);
  color: white;
}
