<div layout="column" ng-cloak>
  <section layout="row">
    <md-sidenav  class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
      <md-toolbar class="md-toolbar-tools" id="sidenav-menu">
        <h3>Filter By </h3>
      </md-toolbar>
      <md-content layout-margin>
        <div>
          <fieldset>
            <legend>Manufacturer</legend>
            <div ng-repeat="x in manufacturerArray">
              <md-checkbox ng-checked="exists(x, selected)" ng-click="checkbox(x,selected)">
                {{x}}
              </md-checkbox>
            </div>
          </fieldset>
          <fieldset>
            <legend>Storage</legend>
            <div ng-repeat="x in storageArray">
              <md-checkbox ng-click="toggle(x,storageArray)">
                {{x + " GB"}}
              </md-checkbox>
            </div>
          </fieldset>
          <fieldset>
            <legend>OS</legend>
            <div ng-repeat="x in osArray">
              <md-checkbox ng-click="toggle(x,osArray)">
                {{x}}
              </md-checkbox>
            </div>
          </fieldset>
          <fieldset>
            <legend>Camera</legend>
            <div ng-repeat="x in cameraArray">
              <md-checkbox ng-click="toggle(x,camerArray)">
                {{x + " MP"}}
              </md-checkbox>
            </div>
          </fieldset>
        </div>
    </md-content>
    </md-sidenav>
  </section>
</div>
