<div layout="row">
  <section layout="row" flex>
    <md-sidenav  class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
      <md-toolbar class="md-toolbar-tools" id="sidenav-menu" fixed>
        <h3>Filter By </h3>
      </md-toolbar>
      <md-content layout-margin>
          <fieldset>
            <legend>Manufacturer</legend>
            <div>
              <md-checkbox ng-repeat="x in manufacturer" ng-click="toggle(x,manufacturerArray)">
              </md-checkbox>
            </div>
          </fieldset>
          <fieldset>
            <legend>Storage</legend>
            <div ng-repeat="x in specs.storage">
              <md-checkbox ng-click="toggle(x,storageArray)">
                {{x}}
              </md-checkbox>
            </div>
          </fieldset>
          <fieldset>
            <legend>OS</legend>
            <div>
              <md-checkbox ng-repeat="x in os" ng-click="toggle(x,osArray)">
              </md-checkbox>
            </div>
          </fieldset>
          <fieldset>
            <legend>Camera</legend>
            <div>
              <md-checkbox ng-repeat="x in camera" ng-click="toggle(x,camerArray)">
              </md-checkbox>
            </div>
          </fieldset>
    </md-content>
    </md-sidenav>
  </section>
</div>
